.DS_Store
AlgoritmosPensamientoLogicoBasico/images/
Pensa_Probabilistico/images/
05_AlgoritmosPensamientoLogicoBasico/05_Lenguajes/052_Python/venv_ap/
venv_mate/
Pensa_Computacional/.ipynb_checkpoints